*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    background-color: blueviolet;
    text-align: center;
    min-height: 200px;
    color: white;
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 42%;
    right: 43%;
}
body{
    background-color:rgb(245, 234, 255);
}
main{
    background-color: white;
    width: 1500px;
    margin: auto;
    height: 900px;
    margin: auto;
}
.rel-cima{
    position: relative;
}
.abs-cima{
    position: absolute;
    top: 12%;
    right: 55%;
    font-size: 1.5em;
}
.rel-form{
    top: 28%;
    left: 9%;
    position: relative;
}
.abs-form{
    position: absolute;
    font-size: 1.5em;
}
input{
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 15px
}
::placeholder{
    font-size: 14px;
}
.abs-form2{
    position: absolute;
    top:61px;
    right: 87%;
    font-size: 1.5em;
    
}
.abs-form3{
    position: absolute;
    top: 121px;
    right: 61%;
    font-size: 1.5em;
}
#desc{
    border: 0.1px solid black;
}
.abs-form4{
    position: absolute;
    top: 234px;
    right: 87%;
    font-size: 1.5em;
}
.abs-form5{
    position: absolute;
    top: 298px;
    right: 87%;
    font-size: 1.5em;
}
.abs-form6{
    position: absolute;
    top: 365px;
    right: 87%;
}
.abs-form7{
    position: absolute;
    top: 415px;
}
.abs-form8{
    position: absolute;
    top:  450px;
}